:root {
--color:black;
--red:#f25346;
--white:#d8d0d1;
--whiteTrue:#ffffff;
--brown:#59332e;
--pink:#F5986E;
--brownDark:#23190f;
--blue:#68c3c0;
--green: #137A63;
--shadow: #533d4a;
--kids-bg: #FEBC48;
--kids-blue: #1F1CFB;
}